@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@font-face {
  font-family: 'Gully';
  src: url('/fonts/gully/Gully-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gully';
  src: url('/fonts/gully/Gully-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gully';
  src: url('/fonts/gully/Gully-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gully';
  src: url('/fonts/gully/Gully-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gully';
  src: url('/fonts/gully/Gully-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
